*{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  padding: 60px;
}

input{
  font-size: 1.2rem;
  width: 100%;
  color: gray;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
 
.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}


.guardar-contacto {
  display: flex;
  justify-content: center;
  padding: 10px; 
}

.tarjetas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.card-contacto {
  padding: 20px;
  border: 1px solid gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  align-content: center;
}

.card-contacto > p {
  height: 1px;
}

.card-contacto > h4 {
  height: 1px;
}

.botones-contactos {
  border-bottom: 20px;
  padding: 40px;
}